.container {
  width: 85vw;
  margin: 0 auto;
  margin-top: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 3fr 0.7fr;
  gap: 1.5rem 4rem;
  padding: 10px;
}
.item1 {
  grid-area: 1/3/ span 2;
}
.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
}
.marketing-detail {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  min-height: 17rem;
  cursor: pointer;
}
.marketing-detail>div {
  margin-left: 1.3rem;
  width: 50%;
}
.marketing-detail>div>p {
  padding: 0.7rem 0;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}
.marketing-detail-2{
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 0.5rem 1rem;;
  cursor: pointer;
}
.marketing-detail-2>p{
  margin-bottom: 1rem;
}
.marketing-detail-2>p>span{
  margin: 0;
}
.marketing-detail-left {
  border-right: 0.4px solid #878787;
  cursor: pointer;
}
.delivery>p {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000 !important;
  margin-bottom: 0.6rem;
}
span {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
}
h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  opacity: 0.2;
  font-size: 20px;
  text-transform: uppercase;
}
h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0.5rem 0;
}