*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial !important;
}
.container {
  width: 85vw;
  margin: 0 auto;
  margin-top: 1rem;
}
.modal{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.modal>h2{
  color: black;
  margin: 0.4rem 0;
}
.modal table{
    width: 100%;
}
.modal th{
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.modal td{
  color:black;
  text-align: center;
  opacity: 0.7;
  font-weight: 100;
  font-size: 14px;
}
.modal button{
  width: 25%;
}
.card{
  padding:2px 6px  !important;
  margin: 0;
  width: 100%!important;
}
.hello{
  color: black;
}
.css-46bh2p-MuiCardContent-root {
  padding: 2px !important;
}
.css-1rwjz6-MuiCardActions-root {
  padding: 0px !important;
}
.card-heading{
  opacity: 1;
  font-size: 1rem;
  font-weight: 300;
}